<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Who was the first player picked to play for the Predators?</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>David Legwand</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>Filip Forsberg</string>
			</dict>
			<dict>
				<key>value</key>
				<string>Dan Hamhuis</string>
			</dict>
			<dict>
				<key>value</key>
				<string>David Legwand</string>
			</dict>
			<dict>
				<key>value</key>
				<string>Paul Karyia</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>Which Predators goaltender holds the NHL record for most wins by a Finnish goalie?</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>Pekka Rinne</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>Tomas Vokoun</string>
			</dict>
			<dict>
				<key>value</key>
				<string>Pekka Rinne</string>
			</dict>
			<dict>
				<key>value</key>
				<string>Juuse Saros</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>Camels are cannibalistic</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>False</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>True</string>
			</dict>
			<dict>
				<key>value</key>
				<string>False</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>All ducks are birds</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>True</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>True</string>
			</dict>
			<dict>
				<key>value</key>
				<string>False</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
