<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Only female koalas can whistle</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>False</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>False</string>
			</dict>
			<dict>
				<key>value</key>
				<string>True</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>Blue whales are technically whales</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>True</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>True</string>
			</dict>
			<dict>
				<key>value</key>
				<string>False</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>Camels are cannibalistic</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>False</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>True</string>
			</dict>
			<dict>
				<key>value</key>
				<string>False</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>All ducks are birds</string>
		<key>correctAnswer</key>
		<dict>
			<key>value</key>
			<string>True</string>
		</dict>
		<key>possibleAnswers</key>
		<array>
			<dict>
				<key>value</key>
				<string>True</string>
			</dict>
			<dict>
				<key>value</key>
				<string>False</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
